@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../font/IRANSansMedium.woff2") format("woff2"),
    url("../font/IRANSansMedium.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: IRANSans;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: right;
  background: #f4f6fd;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans;
  margin: 0;
  padding: 0;
}

body a,
a:hover,
body a:active,
body a:focus,
body a:visited {
  text-decoration: none;
}

/* Header */

.custom-nav {
  width: 100%;
  height: 80px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  clear: both;
  display: flex;
}

.custom-brand {
  flex-grow: 1;
}

.custom-brand a {
  font-size: 1.35rem;
}

.custom-brand img {
  margin-left: 5px;
}

.custom-collapse {
  flex-grow: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: #222;
}

.navbar-toggler span {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .custom-nav {
    height: auto;
  }
  .navbar-collapse ul {
    margin-top: 4px;
    padding: 6px 10px;
  }
  .navbar-collapse li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px;
    margin-top: 4px;
  }
  .navbar-collapse ul li:last-child {
    border-bottom: none;
  }
}

/* Main Slider */

#main-slider {
  height: 300px !important;
  position: relative;
  margin-top: 80px;
}

#main-slider .carousel-item img {
  height: 300px !important;
  object-fit: cover;
}

#main-slider .carousel-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}

#main-slider .carousel-header {
  color: #fff;
}

#main-slider .carousel-header h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

/* Ads */

#ads {
  margin: 10px 0;
  text-align: center;
  margin-bottom: 40px;
}

#ads img {
  margin: 6px auto;
  max-width: 100%;
  min-width: 80%;
}

img.ads {
  transition: all 0.5s;
}

img.ads:hover {
  opacity: 0.75;
}

/* Top Musics */

#top-musics .head {
  margin-top: 60px;
}

#top-musics .head .head-title {
  color: #555;
  font-size: 18px;
  float: right;
}
#top-musics .head .head-title i {
  color: #005cbf;
  margin-left: 10px;
  font-size: 22px;
  float: right;
}

#top-musics .head a {
  float: left;
  color: #fff;
}

#top-musics .music-hover img {
  width: 100%;
  border-radius: 5px;
}

#top-musics .music-hover figure:hover img {
  border-radius: 0;
}

.music-hover figcaption {
  text-align: center;
}

.music-hover figcaption h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.music-hover figcaption a {
  right: 0;
  left: 0;
  bottom: 0;
  top: auto;
}

.music-hover figure {
  margin: 5px auto;
}

/* Sidebar */

#main-content {
  margin: 15px 0;
}

.sidebar {
  margin-bottom: 20px;
}

.sidebar .card-header i {
  color: #005cbf;
  margin-left: 8px;
  margin-top: 1px;
  font-size: 19px;
  float: right;
}

.sidebar .card-header span {
  font-size: 17px;
  float: right;
}

.sidebar .ads {
  text-align: center;
}

.banner {
  display: block;
  max-width: 100%;
  margin: 5px auto;
}

/* Left Sidebar */

.sidebar-left .banner {
  display: inline-block;
  margin: 5px 0;
  max-height: calc(624px / 4 * 3);
}

.sidebar .list {
  margin-right: -17px;
}

.sidebar .list li a {
  color: #444;
  display: block;
  padding: 3px;
  margin: 2px auto;
  transition: all 250ms;
}
.sidebar .list li a:hover {
  color: #111;
  padding-right: 10px;
}

.sidebar .chart {
  list-style: none;
  margin-right: -37px;
}

.sidebar .chart li {
  margin: 8px auto;
  color: #444;
  font-size: 12px;
}
.sidebar .chart li i {
  margin-left: 10px;
}

/* Right Sidebar */

.sidebar-right .banner {
  display: inline-block;
  margin: 5px 0;
  max-height: calc(480px / 4 * 3);
}

.musics-list {
  list-style: none;
  margin-right: -42px;
}

.musics-list li a {
  font-size: 16px;
}

.musics-list li a {
  color: #444;
  display: block;
  padding: 2px;
  margin: 2px auto;
  transition: all 250ms;
}

.musics-list li a:hover {
  color: #111;
  padding-right: 7px;
}

.musics-list li i {
  margin-left: 3px;
  font-size: 14px;
}

.social-box {
  width: 100%;
  height: auto;
  padding: 10px 5%;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.social-box.telegram {
  background: linear-gradient(109.6deg, #5cb8e5 11.2%, #008dcb 91.2%);
  background: -moz-linear-gradient(109.6deg, #5cb8e5 11.2%, #008dcb 91.2%);
  background: -ms-linear-gradient(109.6deg, #5cb8e5 11.2%, #008dcb 91.2%);
  background: -webkit-linear-gradient(109.6deg, #5cb8e5 11.2%, #008dcb 91.2%);
}

.social-box.instagram {
  background: linear-gradient(97.2deg, #eb3e3e 10.5%, #652ee5 93.7%);
  background: -moz-linear-gradient(97.2deg, #eb3e3e 10.5%, #652ee5 93.7%);
  background: -ms-linear-gradient(97.2deg, #eb3e3e 10.5%, #652ee5 93.7%);
  background: -webkit-linear-gradient(97.2deg, #eb3e3e 10.5%, #652ee5 93.7%);
  margin-bottom: 20px;
}

.social-box i {
  font-size: 50px;
  float: left;
  display: block;
  text-align: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.social-box.instagram i {
  font-size: 40px;
}

.social-box .social-text {
  width: 75%;
  color: #fff;
}

.social-box .social-text span {
  display: block;
}

.social-box .social-text span.title {
  font-size: 22px;
}

#pills-tab {
  justify-content: center;
}

#pills-tab-content ul {
  text-align: center;
}

/* Posts(Center Sidebar) */

.post {
  margin-bottom: 20px;
}

.post .card-header {
  padding: 0;
  margin: 0;
  position: relative;
  height: auto;
}

.post .card-header .title {
  float: right;
  padding: 15px 20px;
  width: 75%;
  max-width: 75%;
  display: flex;
  overflow: hidden;
}

.post .card-header .title a {
  display: block;
  line-height: 25px;
  font-size: 19px;
  overflow: hidden;
  color: #444;
}

.post .card-header .title span {
  margin-top: 2px;
  display: block;
  line-height: 25px;
  font-size: 19px;
  overflow: hidden;
  color: #222;
}

.post .card-header .title a:hover {
  color: #222;
}

.post .card-header .title i {
  font-size: 23px;
  color: #005cbf;
  margin-left: 10px;
  float: right;
}

.post .card-header .like {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  min-width: 8%;
  padding: 5px 20px;
  color: #fff;
  background-color: #005cbf;
  border-top-left-radius: 4px;
  text-align: center;
}

.post .card-header .like span {
  display: block;
  color: #fff;
}

.post .card-header .like .like-icon i {
  font-size: 22px;
}

.post .image-box img {
  max-width: 100%;
  width: 480;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
  transition: all 0.5s;
}

.post .image-box img:hover {
  opacity: 0.75;
}

.post .content-box {
  margin: 15px 0 25px 0;
  text-align: center;
}

.post .content-box h2,
.post .content-box h3,
.post .content-box p {
  color: #444;
  font-size: 16px;
  margin-bottom: 6px;
}

.post .details-box {
  padding-top: 12px;
  border-top: 1px solid #f2f2f2;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.post .details-box .details ul {
  list-style: none;
  margin-right: -30px;
  margin-top: 10px;
}

.post .details-box .details ul li {
  float: right;
  margin-left: 15px;
  font-size: 15px;
  color: #333;
}

.post .details-box .details ul li i {
  float: right;
  margin-left: 6px;
}

.posts-pagination {
  text-align: center;
  margin-bottom: 30px;
}

.posts-pagination ul {
  justify-content: center;
  margin-top: 15px;
}

/* Footer */

#footer {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-top: 20px;
  overflow: hidden;
  box-shadow: 0 -1px 7px rgba(0, 0, 0, 0.1);
}

#footer .footer-head {
  margin: 20px auto;
}

#footer .footer-head i {
  font-size: 25px;
  float: right;
  margin-left: 10px;
  margin-right: 5px;
  line-height: 35px;
  color: #005cbf;
}

#footer .footer-head h5 {
  float: right;
  font-size: 20px;
  margin-top: 4px;
}

#footer .footer-content {
  margin-top: 60px;
}

#footer .footer-content ul {
  list-style: none;
}

#footer .footer-content ul li {
  padding: 5px 0;
  margin-bottom: 7px;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  transition: all 200ms;
}

#footer .footer-content ul li:hover {
  background-color: #f2f2f2;
}

#footer .footer-content ul li a {
  display: block;
  width: 100%;
  overflow: hidden;
}

#footer .footer-content ul li img {
  width: 50px;
  height: 50px;
  float: right;
  margin-left: 10px;
  border-radius: 3px;
}

#footer .footer-content ul li h2 {
  font-size: 16px;
  color: #333;
}

#footer .footer-content ul li:hover h2 {
  color: #005cbf;
}

#footer .footer-content ul li .music-details {
  margin-top: 8px;
  color: #333;
}

#footer .footer-content ul li .music-details span {
  float: right;
  color: #444;
  font-size: 12px;
  margin-left: 8px;
}

#footer .footer-content ul li .music-details span i {
  float: right;
  margin-left: 3px;
}

#footer .copy-right {
  margin-top: 20px;
  border-top: 1px #f2f2f2 solid;
  padding: 15px 0 30px 0;
  width: 100%;
  text-align: center;
  color: #333;
}

#footer .copy-right i {
  margin-left: 2px;
}

#footer .copy-right p {
  display: inline;
}

/* Contact-Us Page */

.about .card-header i {
  font-size: 21px;
}

.about .card-header span {
  font-size: 18px;
}

.about-text {
  font-size: 17px;
}

.info-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.info-text p {
  margin: 3px;
}

.info-text p .title {
  font-size: 17px;
}

.info-text p button {
  margin-right: 5px;
}

.contact-form {
  padding: 10px;
}

.contact-form label {
  font-size: 18px;
}

.contact-form input,
.contact-form textarea {
  font-size: 16px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 20px;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px black solid;
}

.contact-form button {
  width: 100%;
}

/* Song Page */

.music-content {
  text-align: center;
}

.music-content .about {
  margin-top: 17px;
}

.music-content .ads {
  margin-top: 17px;
}

.music-content .ads img {
  max-width: 100%;
}

.music-content .text p {
  white-space: pre-line;
}

.music-content .text {
  margin-bottom: 30px;
}

.music-content .text #more {
  display: none;
}

.music-content .like {
  margin-top: 10px;
  margin-bottom: 30px;
}

.music-content .like i {
  font-size: 24px;
}

.music-content .like button {
  font-size: 22px;
  padding: 0;
  padding: 0 7px;
  padding-top: 5px;
  border-radius: 15px;
}

.music-content .online {
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-content .online h4 {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}

.music-content .online audio {
  border-color: #999;
  border: 1px solid #999;
  border-radius: 25px;
}

.music-content .download {
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-content .download a {
  margin: 3px auto;
  border-radius: 10px;
  font-size: 17px;
  max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .music-content .download a {
    font-size: 16px;
  }
  .music-content .download a i {
    font-size: 17px;
  }
}

.music-content .download a i {
  margin-left: 4px;
  font-size: 18px;
}

.share a i {
  float: right;
  margin-left: 10px;
  margin-top: 2px;
}

.web-ads .card-body div {
  margin-bottom: 15px;
}

.web-ads .card-body a {
  color: #444;
}

.web-ads .card-body a:hover {
  color: #222;
}

.web-ads .card-body img {
  margin: 6px auto;
  max-width: 100%;
  min-width: 80%;
}

.link-song .card-body a {
  margin: 2px;
  width: 100%;
  height: 90%;
  color: #333;
  border-color: #333;
}

.link-song .card-body a:hover {
  color: #fff;
  background-color: #333;
}

.link-song .card-body a i {
  margin-left: 3px;
}

.tags .card-body a {
  margin: 2px;
  width: 100%;
  height: 90%;
  color: #444442;
  border-color: #444;
}

.tags .card-body a:hover {
  color: #fff;
  background-color: #555;
  border-color: #555;
}

.comments .comment {
  margin-bottom: 35px;
}

.comments .comment-title {
  color: #333;
  font-size: 22px;
  text-align: center;
}

.comments hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.comments .comment-title.your {
  margin: 20px;
  margin-bottom: -10px;
}

.comments hr.your {
  margin-bottom: 25px;
}

.comment-form {
  padding: 20px;
}

.comment-form label {
  font-size: 18px;
  color: #333;
}

.comment-form input,
.comment-form textarea {
  font-size: 16px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 18px;
  resize: vertical;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: 1px black solid;
}

.comment-form button {
  width: 100%;
  margin-top: -8px;
}

.comments .comment-title.other {
  margin: 30px;
  margin-bottom: -10px;
  margin-top: 40px;
}

.comments hr.other {
  margin-bottom: 45px;
}

.comments .comment .card .card-header {
  border: 0;
  border-bottom: 0.1px solid #dfdfdf;
  background-color: #eeeeee75;
}

.comments .comment .card {
  border-color: #dfdfdf;
  border-radius: 5px;
}

.comments .comment .message {
  margin: 10px;
  margin-right: -5px;
  margin-left: -5px;
}

.comments .comment .reply {
  margin: 10px;
  margin-right: 15px;
  margin-left: -5px;
}

.comments .comment .info {
  float: right;
  width: 50%;
  padding-right: 8px;
}

.comments .comment .button {
  float: left;
  width: 50%;
}

.comments .comment .name {
  margin: 9px 0 7px 20px;
  float: right;
}

.comments .comment .date {
  display: block;
  color: #555;
  margin: 9px 0 7px 8px;
  float: right;
}

.comments .comment button {
  float: left;
  margin: 5px 4px;
  min-width: 50px;
}

/* Album Page */

.album-musics {
  margin-top: 30px;
}

.album-musics h3 {
  margin-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
}

.album-musics .each-music {
  margin-bottom: 35px;
}

.album-musics .each-music h4 {
  font-size: 20px;
}

.album-musics .each-music .online {
  margin-top: 8px;
  margin-bottom: -14px;
}

.album-musics .each-music .online audio {
  width: 80%;
}

.album-musics .each-music .each-download a {
  display: inline-block;
  margin: 2px 10px 2px 10px;
  font-size: 15px;
  max-width: 80%;
}

.music-content .download-all {
  margin-top: 20px;
  margin-bottom: 20px;
}

.music-content .download-all h3 {
  margin-top: 60px;
  font-size: 32px;
  margin-bottom: 15px;
}

.music-content .download-all a {
  margin: 4px auto;
  border-radius: 10px;
  font-size: 22px;
  max-width: 80%;
}

.music-content .download-all a span {
  font-size: 20px;
}

.music-content .download-all a i {
  font-size: 20px;
  margin-left: 4px;
}

@media only screen and (max-width: 600px) {
  .music-content .download-all a {
    font-size: 19px;
  }
  .music-content .download-all a i {
    font-size: 18px;
  }
  .music-content .download-all a span {
    font-size: 17px;
  }
}

.music-content .album-like {
  margin-top: 50px;
  margin-bottom: -10px;
}

.music-content .album-like i {
  font-size: 30px;
}

.music-content .album-like button {
  font-size: 28px;
  padding: 0;
  padding: 0 7px;
  padding-top: 5px;
  border-radius: 15px;
}
