@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../font/IRANSansMedium.woff2") format("woff2"),
    url("../font/IRANSansMedium.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: IRANSans;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: right;
  background: #f4f6fd;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRANSans;
  margin: 0;
  padding: 0;
}

body a,
a:hover,
body a:active,
body a:focus,
body a:visited {
  color: #333;
  text-decoration: none;
}

/* Header */

.custom-nav {
  width: 100%;
  height: 80px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  clear: both;
  display: flex;
}

.custom-brand {
  flex-grow: 1;
}

.custom-collapse {
  flex-grow: 1;
}

.navbar-light .navbar-nav .nav-link {
  color: #444;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: #222;
}

.navbar-toggler span {
  font-size: 20px;
}

@media (max-width: 992px) {
  .custom-nav {
    height: auto;
  }
  .navbar-collapse ul {
    margin-top: 4px;
    padding: 6px 10px;
  }
  .navbar-collapse li {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 4px;
    margin-top: 4px;
  }
  .navbar-collapse ul li:last-child {
    border-bottom: none;
  }
}

/* Main Slider */

#main-slider {
  height: 450px !important;
}

#main-slider .carousel-item img {
  height: 450px !important;
  object-fit: cover;
}

/* Ads */

#ads {
  margin: 25px 0;
  text-align: center;
}

#ads img {
  margin: 3px auto;
  max-width: 100%;
}

/* Top Musics */

#top-musics .head {
  margin-top: 20px;
  margin-bottom: 70px;
}

#top-musics .head .head-title {
  color: #555;
  font-size: 18px;
  float: right;
}
#top-musics .head .head-title i {
  color: #005cbf;
  margin-left: 10px;
  font-size: 22px;
  float: right;
}

#top-musics .head a {
  float: left;
  color: #fff;
}

#top-musics .music-hover img {
  width: 100%;
  border-radius: 5px;
}

#top-musics .music-hover figure:hover img {
  border-radius: 0;
}

.music-hover figcaption {
  text-align: center;
}

.music-hover figcaption h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.music-hover figcaption a {
  right: 0;
  left: 0;
  bottom: 0;
  top: auto;
}

.music-hover figure {
  margin: 5px auto;
}

/* Sidebar */

#main-content {
  margin: 15px 0;
}

.sidebar {
  margin-bottom: 20px;
}

.sidebar .card-header i {
  color: #005cbf;
  margin-left: 8px;
  margin-top: 2px;
  font-size: 19px;
  float: right;
}

.sidebar .card-header span {
  font-size: 17px;
  float: right;
}

.sidebar .ads {
  text-align: center;
}

/* Right Sidebar */

.sidebar .list {
  margin-right: -10px;
}

.sidebar .list li a {
  color: #555;
  display: block;
  padding: 3px;
  margin: 2px auto;
  transition: all 250ms;
}
.sidebar .list li a:hover {
  color: #333;
  padding-right: 10px;
}

.sidebar .chart {
  list-style: none;
  margin-right: -30px;
}

.sidebar .chart li {
  margin: 8px auto;
  color: #555;
  font-size: 12px;
}
.sidebar .chart li i {
  margin-left: 10px;
}
.sidebar .chart li svg {
  margin-left: 10px;
}
